
.user-card{
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: space-between;
  top: 110px;
  right: 10px;
}

.tag{
  border-radius: 20px;
  border: solid #e2e8f0;
  color: #e2e8f0;
  transition: opacity 0.3s;
  opacity: 60%;
  display: flex;
  justify-content: center;

  cursor: pointer;
}
.tag.selected{
  opacity: 100%
}
